@import "@/app/variables.scss";

.title {
  font-size: 26vw;
  margin: 0;

  @media screen and (min-width: $max-width) {
    font-size: 30rem;
  }
}

.heroes {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  max-width: calc($max-width - 700px);
  position: absolute;
  top: 40%;

  @media screen and (min-width: $max-width) {
    max-width: calc($max-width - 400px);
    top: 50%;
  }
}

.imageContainer {
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
  }
  &.spider-man-616 {
    height: $spider-man-616-height;
  }
  &.mulher-aranha-65 {
    height: $mulher-aranha-65-heigth;
  }
  &.spider-man-1610 {
    height: $spider-man-1610-heigth;
  }
  &.spider-ham-8311 {
    height: $spider-ham-8311-heigth;
  }
  &.spider-man-90214 {
    height: $spider-man-90214-heigth;
  }
  &.spider-han-928 {
    height: $spider-han-928-heigth;
  }
  &.sp-dr-14512 {
    height: $sp-dr-14512-heigth;
  }
}
